// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box	{
		text-align:center;
}

.form {
	text-align: center;
}

.show_product {
	text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

p {
	text-align: center;
}

img {
    max-width: 33%;
    height: auto;
    width: auto\9; /* ie8 */
}

.footer {
	text-align: center;
	position: fixed;
    bottom: 20px;
}

.price {
	font-weight: bold;
	font-size: 20px;
}

.check{
	margin: 10px;
	color: blue;
}

.item {
	width: 90%;
	height: 200%;
	margin-top: 10%;
}

.price {
	color: white;
}

.red_price {
	color:red;
}
.white_price {
	color:white;
}

.total {
	color: red;
}


.well{
	min-height:270px;
}