<h1>Product Created</h1>
<div class="form">
<div>
<%= @product.name %>
</div>
<div>
$<%= @product.price %>
</div>
<div>
<%= @product.image %>
</div>
<div>
<br>
Description:
<br>
<%= @product.description %>
</div>