
<h1>Add a new product to inventory</h1>
<div class="form">
<%= form_tag "/products", method: :post do %>
	<div class="check">
		Product name: <input type="text" name="name">
	</div>
	<div class="check">
		Product price: <input type="text" name="price">
	</div>
	<div class="check">
		Product image: <input type="text" name="image">
	</div>
	<div class="check">
		Product description: <input type="text" name="description">
	</div>
	<div class="check">
	<input type="submit" value="Save Product">
	</div>
<%end%>
</div>
