<h1>Image Added!<h1>
<div class="form">
<div>
<%= @product.name %>
</div>
<div>
$<%= @product.price %>
</div>
<div>
<br>
Description:
<br>
<%= @product.description %>
<br>
Provided By:
<%= @product.supplier_id %>
</div>