<h1>Add another image to: <%= @product.name %><h1>
<div class="form">
<%= form_tag "/products/#{@product.id}/images", method: :post do %>
	
	<div class="check">
		Image name: <input type="text" name="name">
	</div>
	
	<div class="check">
	<input type="submit" value="Save Image">
	</div>
<%end%>
</div>